{% extends 'user/base.html' %}
{% load static %}


{% block title %} 
Services
{% endblock title %}


{% block extra_head %}  
{% endblock extra_head %}




{% block content %}  
    
    <div class="container my-5">
      <p class="fs-1 fw-bold text-center">Why To Use SabCompareKaro ?</p>
        <!-- START THE FEATURETTES -->
      <br> <br>
      <p class="fs-3 fw-bold">You will get all of your answers here</p>
      <hr class="featurette-divider"><br>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading ">Save you Money. <span class="text-muted">Every penny Matters.</span></h2>
          <p class="lead p-2">By comparing you products on different E-commerce platform where you can save a lot. And we are here to help you with it. You have to simply search for you product and you will get the results of same after comparing your product's on different platforms and you will get the most efficient source to buy your product. </p>
        </div>
        <div class="col-md-5">
          <img  class="rounded-pill" src={% static 'user/images/ftmoney.jpg' %} alt="">

        </div>
      </div>
      <br>
      <hr class="featurette-divider"><br>

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading ">One Click Away. <span class="text-muted"></span></h2>
          <p class="lead p-2">You don't have to go anywhere else to get what you are looking for. It's just one click away from you.
          <br>Now you don't have to worry about comparing your products to get the best available deal. <br>We are here to minimize your work and provide you with the best deal.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="rounded-pill" src={% static 'user/images/ftg1.jpg' %} alt="">

        </div>
      </div>
      <br>
      <hr class="featurette-divider"><br>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading ">Exclusive and Free. <span class="text-muted"></span></h2>
          <p class="lead p-2">You can get this services for free and buy as much as you want.</p>
        </div>
        <div class="col-md-5">
          <img class="rounded-pill" src={% static 'user/images/ftgopen.jpg' %} alt="">

        </div>
      </div>
      <br>
      <hr class="featurette-divider"><br><br>

      <!-- /END THE FEATURETTES -->
    </div>
    
{% endblock content %}


{% block extra_body %}  
{% endblock extra_body %} 
    