{% load i18n %} {% load account %} {% user_display user as user_display %}
<p>
  <strong>{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in
  as {{ user_display }}.{% endblocktrans %}
</p>

position":1,"title":"(Renewed) POCO X2 (Atlantis Blue, 6GB RAM, 64GB
Storage)","asin":"B08HWV4W86","link":"https://www.amazon.in/Renewed-POCO-Atlantis-Blue-Storage/dp/B08HWV4W86/ref=sr_1_1?dchild=1&keywords=poco&qid=1632041992&sr=8-1","availability":{"raw":"Only
1 left in stock."},"categories":[{"name":"All
Categories","id":"aps"}],"image":"https://m.media-amazon.com/images/I/51ypKI0qkdL._AC_UY218_.jpg","is_prime":true,"rating":3.3,"ratings_total":31,"prices":[{"symbol":"₹","value":14599,"currency":"INR","raw":"₹14,599","name":"primary"},{"symbol":"₹","value":16999,"currency":"INR","raw":"₹16,999","name":"original"}],"price":{"symbol":"₹","value":14599,"currency":"INR","raw":"₹14,599","name":"primary"},"delivery":{"tagline":"Get
it by Tuesday, September 21"}},{"position":2,
