{% extends 'admins/base.html' %}
{% load static %}

{% block title %}User | Add{% endblock title %}



{% block body_heading %}{% endblock body_heading %}


{% block content %}
    
    <h2 class="text-center alert btn-dark ">Add New User </h2>
    
    <div class="col-6 offset-3">
            <form action="{% url 'add_user_url' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="abc" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="abc@xyz.com" required>
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
                </div>
                {% comment %} <div class="mb-3">
                    <label for="password2" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-enter Password*">
                </div> {% endcomment %}
                
                <button type="submit" class="btn btn-success">Add </button>
                <input onclick="location.href='{% url 'user_detail_url' %}';" type="button" class="btn btn-secondary mx-4" value="Back"></input>
                
                
                
            </form>
    </div>    
{% endblock content %}




